absl-py
torch==2.12.0
torchvision==0.27.0
torchaudio==2.11.0
torchao>=0.17.0
--pre
ai-edge-litert-nightly[model-utils]
ai-edge-quantizer-nightly
litert-converter>=0.0.0.dev0
jax[cpu]
scipy
numpy
tabulate
safetensors
kagglehub
transformers
multipledispatch
jaxtyping
fire
rich
sentencepiece
litert-lm
litert-lm-builder-nightly
